<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<form id="login-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Login">
</form>

<!--<script src="../../static/js/login.js"></script>-->
<script th:src="@{/js/login.js}"></script>
</body>
</html>

<form th:method="GET" th:action="@{/test}">
    <input type="submit" value="Редактировать"/>
</form>